<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico-Regular.ttf</string>
		<string>MeaCulpa-Regular.ttf</string>
		<string>PinyonScript-Regular.ttf</string>
		<string>ImperialScript-Regular.ttf</string>
		<string>ComforterBrush-Regular.ttf</string>
		<string>Carattere-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>ShadowsIntoLight-Regular.ttf</string>
		<string>Ultra-Regular.ttf</string>
	</array>
</dict>
</plist>
